%form{action:'https://login.live.com/oauth20_authorize.srf', method:'post'}
  %input{name:'client_id', value:'42e51fca-0194-4603-b4e1-4b0665b5ca70'}
  %input{name:'client_secret', value:'MHAZPSZQzhw1Y0hgDD0iQVa'}
  %input{name:'code', value:'my_code'}
  %input{name:'grant_type', value:'authorization_code'}
  %input{name:'redirect_uri', value:'https://vagrantssl.com:3030/auth/onedrive_oauth2/callback'}
  %input{type:'submit'}