.page-header
  %h1
    Edit 
    =resource_name.to_s.humanize
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .panel.panel-default
    .panel-heading Authentication
    .panel-body
      .row
        .col-xs-6
          = f.input :email, required: true, autofocus: true
        .col-xs-6
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
  .panel.panel-default
    .panel-heading Accounts
    .panel-body
      .form-group.text
        = f.label 'Microsoft'
        %div
          = link_to 'connect', onedrive_path, class:'btn btn-default'
        - if @token_onedrive
          = f.hint "last connection: #{l(@token_onedrive.updated_at, format: :long)}"
        - else
          = f.hint "not connected"
        = f.input :onedrive_folders, as: :check_boxes, collection: @onedrive_folder_list.map{|x|[x[:name],x[:id]]}
      .form-group.text
        = f.label 'Google'
        %div
          = link_to 'connect', onedrive_path, class:'btn btn-default'
        - if @token_google_oauth2
          = f.hint "last connection: #{l(@token_google_oauth2.updated_at, format: :long)}"
        - else
          = f.hint "not connected"
  = f.button :submit, "Update", class:'btn-primary'
