=@instance_variable
=@item.class
= simple_form_for @item, :html => { :class => '' } do |f|
    
  .panel.panel-default
    .panel-heading
      Attributes
    .panel-body
      .row
        .col-xs-4
          = f.input :title
          = f.error_span :title
        .col-xs-8
          = f.input :tags, input_html:{class: 'tags_select',  multiple: true}, collection: @item.tags.map(&:title), selected: @item.tags.map(&:title)
      = f.input :pre
      = f.error_span :pre

  = render 'shared/info_form', f: f
      
  = render 'shared/item_form', f: f

  = f.input :content, input_html:{class: 'markdown_editor'}
  = f.error_span :content



  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), articles_path, :class => 'btn btn-default'
