-title ||= 'Todos'
-level ||= 0

.list-group.todos{style:'margin-bottom:0'}
  .list-group-item.active
    =title
  .row
    .col-xs-12{class: (level > 0) ? 'col-xs-11 col-xs-offset-1' : '' }
      -todo_list.todos.each do |todo|
        
        .list-group-item.todo{class: (todo.done_boolean ? 'done' : ''),data:{id:todo.id}}
          %strong
            =todo.title

          %button.close.text-muted.pull-right
            %span ×
      .list-group-item
        =text_field_tag 'todo[title]', nil, class:'new_todo form-control string', placeholder:'todo...', data:{item_id: todo_list.id, url:todos_path()}
