-content_for :meta do
  =render 'shared/tag_show', item: @item

- model_class = TodoList
.page-header
  = render "shared/link_show_top", item: @item
  %h1=@item.title

= render "shared/info_show", item: @item

= render "shared/pre_show", item: @item

.boxed{style:'margin-bottom:20px'}

  = render "todo_list", todo_list: @item


  -@item.related_items.each do |related_item|
    -next unless related_item.related_item.is_a? TodoList

    = render "todo_list", todo_list: related_item.related_item, title: related_item.title, level:1

= render "shared/content_show", item: @item
        
= render "shared/related_show", item: @item

= render "shared/link_show_bottom", item: @item
