%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Pre
      %th Tags
      %th Date
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @items.each do |item|
      =render 'items/item_td', item: item