.panel.panel-default.info_form_container{'data-toggle'=>"collapse"}
  .panel-heading.collapsed{'data-toggle'=>"collapse", href:'#info_panel_body'}
    Infos
    %span.badge= f.object.infos.count
  #info_panel_body.panel-body.collapse
    = link_to_add_association 'add info', f, :infos, partial: 'shared/info_fields', class: 'btn btn-xs btn-default pull-right', "data-association-insertion-method"=> 'append'
    .clearfix
    = f.simple_fields_for :infos do |info|
      = render 'shared/info_fields', f: info
.clearfix