.row.info_fields
  = f.input :title, label:false, placeholder:'Title', wrapper_html: { class: 'col-xs-3' }
  = f.input :ref, label:false, placeholder:'Ref', wrapper_html: { class: 'col-xs-3' }
  = f.input :content, label:false, placeholder:'Content', wrapper_html: { class: 'col-xs-5' }
  .col-xs-1.text-right
    = link_to_remove_association f ,class:'close', wrapper_class: 'info_fields' do
      %span.fa.fa-remove