- unless  item.infos.empty? and item.start.blank? and item.end.blank?
  .info-list

    - unless item.start.blank?
      %span.info
        %span.info-title Start :
        %span.info-content= l(item.start, format: :long)

    - unless item.end.blank?
      %span.info
        %span.info-title End:
        %span.info-content= l(item.end, format: :long)

    - item.infos.each do |info|
      %span.info{title:info.ref}
        %span.info-title
          =info.title
          \:
        -case info.title
        -when 'path'
          %span.info-content=CGI::unescape(info.content)
        -when 'link', 'url'
          =link_to truncate(info.content, length: 25), info.content, class:"info-content"
        -else
          %span.info-content=info.content
