.panel.panel-default.item_form_container.cocoon_container{'data-toggle'=>"collapse"}
  .panel-heading.collapsed{'data-toggle'=>"collapse", href:'#item_panel_body'}
    Items
    %span.badge= f.object.related_items.count
  #item_panel_body.panel-body.collapse.sortable
    = link_to_add_association 'add item', f, :related_items, partial: 'shared/related_item_fields', class: 'btn btn-xs btn-default no-sort pull-right pull-right', "data-association-insertion-method"=> 'append'
    .clearfix.no-sort
  
    = f.simple_fields_for :related_items do |related_item|
      = render 'shared/related_item_fields', f: related_item
.clearfix