= link_to t('.back', :default => t("helpers.links.back")), [ item.class], :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), [:edit, item], :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")),  item, :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'