.row
  .col-xs-6
    = link_to t('.new', :default => t("helpers.links.new")), [:new, model_class.name.tableize.singularize.to_sym], :class => 'btn btn-primary'
  .col-xs-6.text-right
    = will_paginate @items, renderer: BootstrapPagination::Rails
