- unless  item.related_items.empty?
  .list-group
    .list-group-item.active
      Related
    - item.related_items.each do |r_i|
      = link_to r_i.related_item, class: 'list-group-item' do
        = r_i.title
        \:
        = r_i.related_item.title