.row.item_fields
  = f.input :position, as: :hidden, input_html:{class:'sort_position'}
  = f.input :title,label:false, placeholder:'Title', wrapper_html: { class: 'col-xs-5' }
  = f.association :related_item,label:false, placeholder:'Item', wrapper_html: { class: 'col-xs-6' }, input_html:{class:'select2'}
  .col-xs-1.text-right
    = link_to_remove_association f ,class:'btn btn-xs btn-danger', wrapper_class: 'item_fields' do
      %span.fa.fa-remove