.row.info_fields
  = f.input :position, as: :hidden, input_html:{class:'sort_position'}
  = f.input :done_boolean, label: 'Done', as: :boolean, wrapper_html: { class: 'col-xs-2' }
  = f.input :title,label:false, placeholder:'Title', wrapper_html: { class: 'col-xs-9' }
  .col-xs-1.text-right
    = link_to_remove_association f ,class:'close', wrapper_class: 'todo_fields' do
      %span.fa.fa-remove