.panel.panel-default.todo_form_container.cocoon_container{'data-toggle'=>"collapse"}
  .panel-heading.collapsed{'data-toggle'=>"collapse", href:'#todo_panel_body'}
    Todos
    %span.badge= f.object.todos.count
  #todo_panel_body.panel-body.collapse.sortable
    = link_to_add_association 'add todo', f, :todos, partial: 'shared/todo_fields', class: 'btn btn-xs btn-default no-sort pull-right', "data-association-insertion-method"=> 'append'
    .clearfix.no-sort
    = f.simple_fields_for :todos do |todo|
      = render 'shared/todo_fields', f: todo
.clearfix