- model_class = Event
.page-header
  = render "shared/link_index_top", model_class: model_class
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

#calendar

= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
