-content_for :meta do
  =render 'shared/tag_show', item: @item

- model_class = Event
.page-header
  = render "shared/link_show_top", item: @item
  %h1=@item.title

= render "shared/info_show", item: @item

= render "shared/pre_show", item: @item
    
= render "shared/content_show", item: @item

= render "shared/related_show", item: @item

= render "shared/link_show_bottom", item: @item