- model_class = Definition
.page-header
  = render "shared/link_index_top", model_class: model_class
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
= render 'shared/index_table'

= render 'shared/link_index_bottom', model_class: model_class