.page-header
  
  %h1 Brain

.row
  .col-xs-12
    =search_form_for @q do |f|

      .form-group.string
        =f.search_field :title_cont, class:'form-control string typeahead', placeholder: 'Enter your search query here'
      / =text_field_tag 'query', nil, class:'form-control string typeahead', pplaceholder: 'Enter your search query here'
