-content_for :meta do
  =render 'shared/tag_show', item: @item

- model_class = Contact
.page-header
  = render "shared/link_show_top", item: @item
  %h1=@item.title

= render "shared/pre_show", item: @item

- unless  @item.infos.empty?
  %dl.dl-horizontal
    - @item.infos.each do |info|
      %dt{title:info.ref}=info.title
      %dd=info.content
            

= render "shared/content_show", item: @item

= render "shared/related_show", item: @item

= render "shared/link_show_bottom", item: @item

