-content_for :meta do
  =render 'shared/tag_show', item: @item

- model_class = Document
.page-header
  = render "shared/link_show_top", item: @item
  %h1=@item.title

= render "shared/info_show", item: @item

= render "shared/pre_show", item: @item

- if @item.content
  .content.markdown-body
    = autolinks(markdown2(add_toc(full_content(@item)))).html_safe

= render "shared/related_show", item: @item

= render "shared/link_show_bottom", item: @item
