%tr
  %td= link_to item.title, item
  %td= truncate item.pre, length: 200
  %td
    -item.tags.each do |tag|
      =link_to tag.title, [Item, q: {tags_title_eq: tag.title}] 


  %td=l item.created_at, format: :short
  %td
    = link_to t('.edit', :default => t("helpers.links.edit")), [:edit, item], :class => 'btn btn-default btn-xs'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), item, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'
