- model_class = Item
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

=search_form_for @q, url: items_path   do |f|
  .row
    .form-group.col-md-3
      =f.search_field :tags_title_eq, class:"form-control"
    .form-group.col-md-3
      =submit_tag 'Search', class:'btn btn-default'
  
= render 'shared/index_table'

= will_paginate @items, renderer: BootstrapPagination::Rails, class:'pull-right'