
#markdown-toc{
  z-index:1100;
  position:relative;
  float: right;

  min-height: 20px;
  padding: 0 0 20px 0;
  background-color: #fbfbfb;
  border-radius: 2px;
  width: 25%;
  
  border: 1px solid #EAEAEA;
  border-bottom-width: 3px;

  &:before {
    content: "Content";
    display: block;
    font-size: 20px;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    line-height: 1.1;
    // position:relative;
    padding: 10px 15px;
    color: black;
    text-transform: uppercase;
    border-bottom: 4px double #f2f2f2;
  }
  li{
    padding:0 15px;
    li{
      padding:0;
    }
  }
  ul{
    padding:5px 20px;
  }

  &>li{
    list-style-type: none;
  }

}
dd{
  margin-left:27px;
  // display: list-item;
  // list-style-type: circle;
  position:relative;
  &:before {
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    position:absolute;
    left: -1.5em;
    top: 0.48em;
    font-size: 0.8em;
  }
}