.navbar-default {
  .navbar-brand {
    color: #000;
    line-height: 90px;
    height: 90px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2.75px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    padding-top:0;
    padding-bottom:0;
  }


  .navbar-nav > li > a{
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #000;
    line-height: 90px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    margin: 0 10px;
    border:none;

    &:hover{
      border:none;
    }
  }
}

.tagcrumb > .tag + .tag:before{
  content: "|";
  padding: 0 5px;
  color: #cccccc;
  font-style: normal;

}
.tag, .tag a{
  color: #CCC;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 1px;
  &:hover{
    color: black;
  }

}

.info-list > .info + .info:before{
  content: "|";
  padding: 0 5px;
  color: #cccccc;
  font-size: 14px;

}

.info-list{
  font-size: 14px;
  color: #cccccc;
  font-style: italic;
  letter-spacing: 1px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 4px double #f2f2f2;
  padding:5px;
  margin-bottom: 10px;
}

.info-content{
  color: black;
}

// .panel{
//     overflow: hidden;
//     border-radius: 5px;
//   &.pre{
//     margin-bottom: 40px;
//     margin-top: 30px;
//   }
// }
// .panel-default{
//   border: 1px solid #F1F1F1;

// }
.pre{
  font-size: 20px;
  color: #000;
  letter-spacing: 4px;
  font-weight: 400;
  // text-transform: uppercase;
  color:999;
  font-style: italic;
  text-align: center;
  margin-bottom: 10px; 
  background: #fbfbfb;
  padding: 30px;
}
.list-group{
  .list-group-item.active{
    background: #fbfbfb;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    line-height: 1.1;
    // position:relative;
    color: black;
    text-transform: uppercase;
    border-bottom: 4px double #f2f2f2;
  }
}
.boxed .list-group-item{
  border:none;
}

.panel{
  border-radius: 0px;
  border: 1px solid #EAEAEA;
  border-bottom-width: 3px;
  .panel-heading{
    background: transparent;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    color: black;
    text-transform: uppercase;
    border-bottom: 4px double #f2f2f2;
    &.collapsed{
      border-bottom: none;
    }
  }
  .badge{
    vertical-align: bottom;
  }

}