body{
  font-family: "Crimson Text", serif;
}


.boxed {
  border: 1px solid #EAEAEA;
  border-bottom-width: 3px;
}
.push-down-60 {
    margin-bottom: 60px;
}
h1, h2, h3, h4, h5, h6 {
  color: #2f343b;
  border: 0;
  font-family: 'Raleway', sans-serif;

}
h1, h2, h3{
    border-bottom: 1px dashed #eee;
    text-transform: uppercase;

}
h5{
  text-decoration: underline
}

h1{
  font-size: 50px;
  letter-spacing: -1.4px;
  line-height: 1.5;
  margin: 15px 0;
  font-weight: normal;
  text-shadow:  2px 2px #eee;
}
h2{
  font-size: 30px;
  letter-spacing: -.8px;
  margin: 30px 0;
  line-height: 1.5;
  color: #2f343b;
  font-weight: normal;


}
h3{
  font-size: 25px;
  font-weight: 300;
  color: #999;
  letter-spacing: -.75px;
  line-height: 1.25;
}
h4{
  font-size: 20px;
  line-height: 1.5;
  margin: 30px 0;
  color: #2f343b;
  font-weight: normal;
}
.page-header{
  h1,h2,h3,h4{
    border: 0;
    line-height: auto;
    margin:0;
  }
}
.page-header{
  border:none;
  margin:0;
}
.todos .done{
  text-decoration: line-through;
  background-color: #dff0d8;
}
.todos .close{
  color: #b3b3b3;
}
blockquote {
  background-color: #f4f4f4;
  border-left: 3px solid #999;
  p {

    color: #999;
    font-family: "Georgia";
    font-size: 15px;
    line-height: 28px;
    font-style: italic;
  }
}

.btn{
  font-family: 'Raleway', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    // padding: 8px 10px 8px;
    margin-right: 3px;
    border-radius: 2px;
    border: none;
    &:hover{
      border-radius: 0px;
      text-decoration: none;
    }
}
.btn-default{
  background: #f2f2f2;
  color: #666;
  &:hover{
    
    background: #333;
    color: #fff;
  }
}
.img-circle {
    border-radius: 50%;
}
.avatar{
  width:40px;
}
.ui-state-highlight { 
  height: 34px; 
  line-height: 1.2em; 
  margin-bottom:15px;
  border: 1px dashed #EAEAEA;
  color:none;
  background:none;
}
.pagination{
  margin:0
}
