.tt-query,.tt-input, /* UPDATE: newer versions use tt-input instead of tt-query */
.tt-hint {

    height: 50px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    

    outline: none;
    font-family: 'Raleway', sans-serif;
}

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
}

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 100%;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-bottom-width: 3px;
    /*border-radius: 8px;*/
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}
.tt-cursor{
  background: #e7e7e7
  /*color:;*/
}
.tt-dataset{
  font-family: 'Raleway', sans-serif;
}
.typeahead{
  font-family: 'Raleway', sans-serif;
}
.twitter-typeahead{
  width: 100%
}